body{
	background-color: black;
	position: fixed;
}

#plante img{
	position: fixed;
	width: 65%;
	height: 75%;
	display: block;
	margin-right: auto;
	margin-left: 12%;
	margin-top: 12.85%;

}

#cellule img{
	display: block;
	position: relative;
	width: 7%;
	height: 7%;
}

#cellule img.a{
	margin-left: 140%;
	top: 195px;
}

#cellule img.b{
	margin-left: 72%;
	top: 270px;
	
}

#cellule img.c{
	margin-left: 115%;
	top: 300px;
	
}

#cellule img.d{
	margin-left: 27%;
	top: -180px;
	
}

#cellule img.e{
	margin-left: 57%;
	top: -30px;
	
}

#cellule2 img{
	display: block;
	position: relative;
	width: 20%;
	height: 20%;
}

#cellule2 img.a{
	margin-left: 41%;
	top: -250px;
}

#cellule2 img.b{
	margin-left: 40%;
	top: -240px;
}

#cellule2 img.c{
	margin-left: 18%;
	top: -640px;
}

#cellule2 img.d{
	margin-left: 62.5%;
	top: -840px;
}

#cellule2 img.e{
	margin-left: 38%;
	top: -730px;
}