html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background:#222;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#generate {
	position: absolute;
	margin: 10px;
	z-index: 1000;
	cursor: pointer;
	background: #F80;
	line-height: 35px;
	border: none;
	outline: none;
	color: #830;
	font-size: 1em;
	border-radius: 5px;
}
#generate:hover {
	background: #a40;
	color: #ff0;
}
