body{
	background-color: black;
	position: fixed;
}

#plante img{
	position: fixed;
	width: 65%;
	height: 75%;
	display: block;
	margin-right: auto;
	margin-left: 12%;
	margin-top: 12.85%;

}

#cellule img{
	display: block;
	position: relative;
	width: 12%;
	height: 12%;
}

#cellule img.a{
	margin-left: 235%;
	top: 340px;
}

#cellule img.b{
	margin-left:120%;
	top: 460px;
	
}

#cellule img.c{
	margin-left: 195%;
	top: 490px;
	
}

#cellule img.d{
	margin-left: 100%;
	top: 130px;
	
}

#cellule img.e{
	margin-left: 167%;
	top: 480px;
	
}

#cellule2 img{
	display: block;
	position: relative;
	width: 18%;
	height: 18%;
}

#cellule2 img.a{
	margin-left: 100%;
	top: 400px;
}

#cellule2 img.b{
	margin-left: 175%;
	top: 430px;
}

#cellule2 img.c{
	margin-left: 200%;
	top: -200px;
}

#cellule2 img.d{
	width: 15%;
	height: 15%;
	margin-left: 125%;
	top: 10px;
}

#cellule2 img.e{
	width: 15%;
	height: 15%;
	margin-left: 140%;
	top: -400px;
}body{
	background-color: black;
	position: fixed;
}