/* only works in safari and chrome for now, but could be cross-browser implemented */

#container { 
  width: 100%;
  height: 100%;
  position:absolute;
  top:0; left:0;
  background:red;
}

.circle {
  width: 240px;
  height: 240px;
  position:absolute;
  left:50%;
  margin-left:-120px;
  margin-top:48px;
  border-radius: 50%; 
  opacity: 0.4;
  background:orange;
}

.active {
 -webkit-animation: scale 4s ease-in-out; /* set animation */
}

/* Keyframe Animation */
@-webkit-keyframes scale { /* Safari and Chrome */
0% {  -webkit-transform: scale(1,1);
      opacity:0.6
   }
100% { -webkit-transform: scale(12,12);
        opacity:0;
   }
}