body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(20, 30, 20);
}

canvas {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

