* {
  margin: 0;
  overflow: hidden;
  background-color: #efefef;
  cursor:pointer;
}
#drag span {
  background:black;
  color:  #fff;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  line-height: 2rem;
  width: 200px;
  position: absolute;
  top: 30px;
  right: -80px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#drag {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  overflow: hidden;
  height: 200px;
  z-index:2;
}
